In [1]:
import nltk
from nltk.stem.porter import *
from torch.nn import *
from torch.optim import *
import numpy as np
import pandas as pd
import torch,torchvision
import random
from tqdm import *
from torch.utils.data import Dataset,DataLoader
stemmer = PorterStemmer()

In [2]:
def tokenize(word):
    return nltk.word_tokenize(word)

In [3]:
tokenize('how are you ? bro ')

['how', 'are', 'you', '?', 'bro']

In [4]:
def stem(word):
    return stemmer.stem(word.lower())

In [5]:
stem('how'),stem('are'),stem('you'),stem('?'),stem('bro')

('how', 'are', 'you', '?', 'bro')

In [6]:
def bag_of_words(tokenized_word,all_words):
    tokenized_words = []
    for tokenized_w in tokenized_word:
        tokenized_words.append(stem(tokenized_w))
    bag = np.zeros(len(all_words),dtype=np.float32)
    for idx,w in enumerate(tokenized_words):
        if w in all_words:
            bag[idx] = 1.0
    return bag

In [7]:
bag_of_words(['bro'],tokenize('how are you ? bro '))

array([1., 0., 0., 0., 0.], dtype=float32)

In [8]:
batch_size = 32
epochs = 100
device = 'cuda'
new_data = []
all_words = []
tags = []
ignore_words = ["?", "!", ".", "@", "#", "$", "%", "^", "&", "*"]
data = pd.read_csv('./data/train_data_cleaning.csv')
X = data['text'].tolist()
y = data['target'].tolist()

In [9]:
data

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this # earthquake...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask . Canada,1
2,5,NaN,NaN,All residents asked to ' shelter in place ' ...,1
3,6,NaN,NaN,"13,000 people receive # wildfires evacuation ...",1
4,7,NaN,NaN,Just got sent this photo from Ruby # Alaska a...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@ Aria Ahrary @ TheTawniest The out of contr...,1
7610,10871,NaN,NaN,M1 . 94 [ 01 : 04 UTC ] ? 5km S of Volcano H...,1
7611,10872,NaN,NaN,Police investigating after an e - bike collide...,1
7612,10873,NaN,NaN,The Latest : More Homes Razed by Northern Cal...,1